/*
	Project Name: JS30 Drumkit
	Project URL: http://dcjwest.github.io/...
	Description: Simple drumkit emulator
*/

/* ====================================== */

* {
	margin: 0;
	padding: 0;
}

html {
	background: url("images/drummer-bg.jpg") no-repeat fixed center;
	background-size: cover;
	font-family: sans-serif;
	font-size: .8vw;
}

body {
	padding: 0 2rem;
}

.drumkit {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
}

.key {
	background: rgba(0, 0, 0, 0.4);
	border: .4rem solid black;
	border-radius: 50%;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	margin: 1rem;
	padding: 1rem;
	text-shadow: 0 0 .4rem #000;
	transition: all .07s ease;
	width: 7vw;
	height: 7vw;
}

.key:hover {
	cursor: pointer;
}

.playing {
	border-color: #ffc600;
	box-shadow: 0 0 1rem .3rem #ffc600;
	transform: scale(1.2);
}

kbd {
	display: block;
	font-size: 4rem;
}

.sound {
	color: #ffc600;
	font-size: 1.2rem;
	letter-spacing: .1rem;
	text-transform: uppercase;
}

@media screen and (orientation: portrait){
	html {
		background: url("images/drummer-bg-sm.jpg") no-repeat fixed center;
		font-size: .9vh;
	}

	.drumkit {
		flex-direction: column;
	}

	.key {
		height: 7vh;
		width: 7vh;
	}
}