/*
	Project Name: JS30 Drumkit
	Project URL: http://dcjwest.github.io/...
	Description: Simple drumkit emulator
*/

/* ====================================== */

* {
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	-moz-tap-highlight-color: transparent;
	-o-tap-highlight-color: transparent;
	tap-highlight-color: transparent;
}

html {
	background: url("images/drummer-bg.jpg") no-repeat fixed center;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
	font-size: .8vw;
	min-height: 100vh;
	width: 100%;
}

body {
	padding: 0 2rem;
}

.drumkit {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
}

.key {
	background: rgba(0, 0, 0, 0.4);
	border: .4rem solid black;
	border-radius: 50%;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	margin: 1rem;
	padding: 1rem;
	text-shadow: 0 0 .4rem #000;
	transition: all .07s ease;
	width: 7vw;
	height: 7vw;
}

.key:hover {
	cursor: pointer;
}

.playing {
	border-color: #ffc600;
	box-shadow: 0 0 1rem .3rem #ffc600;
	transform: scale(1.2);
}

kbd {
	display: block;
	font-size: 4rem;
}

.sound {
	color: #ffc600;
	font-size: 1.2rem;
	letter-spacing: .1rem;
	text-transform: uppercase;
}

@media screen and (max-width: 800px){
	html {
		font-size: 1.3vw;
	}

	.drumkit {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		justify-items: center;
	}

	.key {
		height: 9vw;
		width: 9vw;
	}
}

@media screen and (orientation: portrait){
	html {
		background: url("images/drummer-bg-sm.jpg") no-repeat fixed center;
		background-size: cover;
		font-size: 1.3vh;
	}

	.drumkit {
		height: 50%;
		margin: auto;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.key {
		height: 9vh;
		width: 9vh;
	}
}